Source: libihanclient
Maintainer: Justin Hammond <justin@dynam.ac>
Section: misc
Priority: optional
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 8),libboost-dev,libtool,automake,autoconf,libboost-date-time-dev,pkg-config

Package: libihanclient
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost, libboost-date-time
Description: Client Library for Intelegent Home Automation Network Software
 Client Library for Intelegent Home Automation Network Software. Use this
 library for communicating with your home automation network run by iHanD

Package: libihanclient-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends}, ${misc:Depends}, libihandclient
Description: Development Files for Intelegent Home Automation Network Software
 Development files Client Library for Intelegent Home Automation Network
 Software